<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/buzz/1.2.0/buzz.min.js"></script>
    <script defer src="showcaseController.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="showcase.css">
</head>
<body>
    <div id="display1" class="container graph-display rounded shadow-lg bg-secondary m-5"></div>
    <h1>Interruption at this point</h1>
    <div id="display2" class="container graph-display rounded shadow-lg bg-secondary m-5"></div>
</body>
</html>
