<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/buzz/1.2.0/buzz.min.js"></script>

    <script defer src="public/js/ai/Util.js" type="text/javascript"></script>
    <script defer src="public/js/base/Position.js" type="text/javascript"></script>
    <script defer src="public/js/base/Player.js" type="text/javascript"></script>
    <script defer src="public/js/ai/NothingAI.js" type="text/javascript"></script>
    <script defer src="public/js/ai/BasicAI.js" type="text/javascript"></script>
    <script defer src="public/js/ai/WallHuggingAI.js" type="text/javascript"></script>
    <script defer src="public/js/ai/SeekerAI.js" type="text/javascript"></script>
    <script defer src="public/js/ai/SpaceLovingAI.js" type="text/javascript"></script>
    <script defer src="public/js/ai/PowerHungryAI.js" type="text/javascript"></script>
    <script defer src="public/js/base/Game/GridDecorator.js" type="text/javascript"></script>
    <script defer src="public/js/base/Game/StartingPositionBehavior.js" type="text/javascript"></script>
    <script defer src="public/js/base/GameSettings.js" type="text/javascript"></script>
    <script defer src="public/js/base/Game/Game.js" type="text/javascript"></script>
    <script defer src="public/js/base/SequenceGenerator.js" type="text/javascript"></script>
    <script defer src="public/js/BlogComponents/BlogComponent.js" type="text/javascript"></script>
    <script defer src="public/js/BlogComponents/TextPassage.js" type="text/javascript"></script>
    <script defer src="public/js/BlogComponents/Header.js" type="text/javascript"></script>
    <script defer src="public/js/BlogComponents/Exhibit.js" type="text/javascript"></script>
    <script defer src="public/js/BlogComponents/Blog.js" type="text/javascript"></script>

    <script defer src="public/js/controllers/testController.js" type="text/javascript"></script>
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="public/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="public/css/showcase.css">
</head>
<body class="d-flex h-100 text-center">
<div id="cover-container" class="cover-container mx-auto d-flex w-100 h-100 p-3 flex-column">
    <header class="mb-auto pb-4">
        <div>
            <h3 class="float-md-left mb-0">Tron Showcase</h3>
            <nav class="nav nav-masthead justify-content-center float-md-right">
                <a class="nav-link active" href="#">S1 Algorithms</a>
                <a class="nav-link" href="/profile">S2 Algorithms</a>
                <a class="nav-link" href="/sign-in">About</a>
            </nav>
        </div>
    </header>
<!--    <button id="dev-button" class="rounded bg-success shadow">Click me</button>-->
</div>
</body>
</html>
