.graph-display-container {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
}

.graph-display-container:after {
    content: "";
    display: block;
}

.graph-display {
    position: relative;
    top: 0;
    left: 0;
}

.graph-display:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.grid-cell {
    position: absolute;
    background-color: #ffffff;
    border: 1px black solid;
    z-index: 5;
    overflow: hidden
}

.title-icon {
    width: 50px;
}

.graph-display-container {
    background-color: #000;
}

body {
    background-color: #333333;
    color: white;
    /*font-family: 'Roboto';*/
    font-family: 'Montserrat';
    font-size: 18px;
}

h3 {
    font-family: 'Anton';font-size: 30px;
}

/*#menu ul, #menu li {*/
/*    margin: 0; padding: 0;*/
/*}*/
